<h1>New cd</h1>

<% form_for(@cd) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :artist %><br />
	<%= select("cd", "artist_id", Artist.find(:all).collect {|p| [ p.name, p.id ] }, {:include_blank => "Seleccione el artista"}) %>

  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', cds_path %>